<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.midland.web.dao.AnswerMapper" >
  <resultMap id="BaseResultMap" type="com.midland.web.model.Answer" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="answer_time" property="answerTime" jdbcType="TIMESTAMP" />
    <result column="anwer_name" property="anwerName" jdbcType="VARCHAR" />
    <result column="againstNum" property="againstnum" jdbcType="INTEGER" />
    <result column="supportNum" property="supportnum" jdbcType="INTEGER" />
    <result column="questions_id" property="questionsId" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.midland.web.model.Answer" extends="BaseResultMap" >
    <result column="answer_area" property="answerArea" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, answer_time, anwer_name, againstNum, supportNum, questions_id,answer_area
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
  select
  <include refid="Base_Column_List" />
  from answer
  where id = #{id,jdbcType=INTEGER}
</select>
  <select id="selectByQuestionId" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from answer
    where questions_id = #{questionId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from answer
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insertSelective" parameterType="com.midland.web.model.Answer" >
    insert into answer
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="answerTime != null" >
        answer_time,
      </if>
      <if test="anwerName != null" >
        anwer_name,
      </if>
      <if test="againstnum != null" >
        againstNum,
      </if>
      <if test="supportnum != null" >
        supportNum,
      </if>
      <if test="questionsId != null" >
        questions_id,
      </if>
      <if test="answerArea != null" >
        answer_area,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="answerTime != null" >
        #{answerTime,jdbcType=TIMESTAMP},
      </if>
      <if test="anwerName != null" >
        #{anwerName,jdbcType=VARCHAR},
      </if>
      <if test="againstnum != null" >
        #{againstnum,jdbcType=INTEGER},
      </if>
      <if test="supportnum != null" >
        #{supportnum,jdbcType=INTEGER},
      </if>
      <if test="questionsId != null" >
        #{questionsId,jdbcType=INTEGER},
      </if>
      <if test="answerArea != null" >
        #{answerArea,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.midland.web.model.Answer" >
    update answer
    <set >
      <if test="answerTime != null" >
        answer_time = #{answerTime,jdbcType=TIMESTAMP},
      </if>
      <if test="anwerName != null" >
        anwer_name = #{anwerName,jdbcType=VARCHAR},
      </if>
      <if test="againstnum != null" >
        againstNum = #{againstnum,jdbcType=INTEGER},
      </if>
      <if test="supportnum != null" >
        supportNum = #{supportnum,jdbcType=INTEGER},
      </if>
      <if test="questionsId != null" >
        questions_id = #{questionsId,jdbcType=INTEGER},
      </if>
      <if test="answerArea != null" >
        answer_area = #{answerArea,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>