<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.midland.web.dao.EntrustMapper" >
  <resultMap id="BaseResultMap" type="com.midland.web.model.Entrust" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="entrust_sn" property="entrustSn" jdbcType="VARCHAR" />
    <result column="source" property="source" jdbcType="INTEGER" />
    <result column="house_type" property="houseType" jdbcType="INTEGER" />
    <result column="sell_rent" property="sellRent" jdbcType="INTEGER" />
    <result column="entrust_time" property="entrustTime" jdbcType="TIMESTAMP" />
    <result column="area" property="area" jdbcType="VARCHAR" />
    <result column="community_name" property="communityName" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="layout" property="layout" jdbcType="VARCHAR" />
    <result column="measure" property="measure" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="user_cn_name" property="userCnName" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="handle_time" property="handleTime" jdbcType="TIMESTAMP" />
    <result column="call" property="call" jdbcType="VARCHAR" />
    <result column="renovation" property="renovation" jdbcType="INTEGER" />
    <result column="supporting" property="supporting" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, entrust_sn, source, house_type, sell_rent, entrust_time, area, community_name, 
    address, layout, measure, price, user_id, user_cn_name, status, handle_time, call, 
    renovation, supporting
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from entrust
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from entrust
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.midland.web.model.Entrust" >
    insert into entrust (id, entrust_sn, source, 
      house_type, sell_rent, entrust_time, 
      area, community_name, address, 
      layout, measure, price, 
      user_id, user_cn_name, status, 
      handle_time, call, renovation, 
      supporting)
    values (#{id,jdbcType=INTEGER}, #{entrustSn,jdbcType=VARCHAR}, #{source,jdbcType=INTEGER}, 
      #{houseType,jdbcType=INTEGER}, #{sellRent,jdbcType=INTEGER}, #{entrustTime,jdbcType=TIMESTAMP}, 
      #{area,jdbcType=VARCHAR}, #{communityName,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{layout,jdbcType=VARCHAR}, #{measure,jdbcType=VARCHAR}, #{price,jdbcType=VARCHAR}, 
      #{userId,jdbcType=INTEGER}, #{userCnName,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
      #{handleTime,jdbcType=TIMESTAMP}, #{call,jdbcType=VARCHAR}, #{renovation,jdbcType=INTEGER}, 
      #{supporting,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.midland.web.model.Entrust" >
    insert into entrust
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="entrustSn != null" >
        entrust_sn,
      </if>
      <if test="source != null" >
        source,
      </if>
      <if test="houseType != null" >
        house_type,
      </if>
      <if test="sellRent != null" >
        sell_rent,
      </if>
      <if test="entrustTime != null" >
        entrust_time,
      </if>
      <if test="area != null" >
        area,
      </if>
      <if test="communityName != null" >
        community_name,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="layout != null" >
        layout,
      </if>
      <if test="measure != null" >
        measure,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="userCnName != null" >
        user_cn_name,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="handleTime != null" >
        handle_time,
      </if>
      <if test="call != null" >
        call,
      </if>
      <if test="renovation != null" >
        renovation,
      </if>
      <if test="supporting != null" >
        supporting,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="entrustSn != null" >
        #{entrustSn,jdbcType=VARCHAR},
      </if>
      <if test="source != null" >
        #{source,jdbcType=INTEGER},
      </if>
      <if test="houseType != null" >
        #{houseType,jdbcType=INTEGER},
      </if>
      <if test="sellRent != null" >
        #{sellRent,jdbcType=INTEGER},
      </if>
      <if test="entrustTime != null" >
        #{entrustTime,jdbcType=TIMESTAMP},
      </if>
      <if test="area != null" >
        #{area,jdbcType=VARCHAR},
      </if>
      <if test="communityName != null" >
        #{communityName,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="layout != null" >
        #{layout,jdbcType=VARCHAR},
      </if>
      <if test="measure != null" >
        #{measure,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="userCnName != null" >
        #{userCnName,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="handleTime != null" >
        #{handleTime,jdbcType=TIMESTAMP},
      </if>
      <if test="call != null" >
        #{call,jdbcType=VARCHAR},
      </if>
      <if test="renovation != null" >
        #{renovation,jdbcType=INTEGER},
      </if>
      <if test="supporting != null" >
        #{supporting,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.midland.web.model.Entrust" >
    update entrust
    <set >
      <if test="entrustSn != null" >
        entrust_sn = #{entrustSn,jdbcType=VARCHAR},
      </if>
      <if test="source != null" >
        source = #{source,jdbcType=INTEGER},
      </if>
      <if test="houseType != null" >
        house_type = #{houseType,jdbcType=INTEGER},
      </if>
      <if test="sellRent != null" >
        sell_rent = #{sellRent,jdbcType=INTEGER},
      </if>
      <if test="entrustTime != null" >
        entrust_time = #{entrustTime,jdbcType=TIMESTAMP},
      </if>
      <if test="area != null" >
        area = #{area,jdbcType=VARCHAR},
      </if>
      <if test="communityName != null" >
        community_name = #{communityName,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="layout != null" >
        layout = #{layout,jdbcType=VARCHAR},
      </if>
      <if test="measure != null" >
        measure = #{measure,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="userCnName != null" >
        user_cn_name = #{userCnName,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="handleTime != null" >
        handle_time = #{handleTime,jdbcType=TIMESTAMP},
      </if>
      <if test="call != null" >
        call = #{call,jdbcType=VARCHAR},
      </if>
      <if test="renovation != null" >
        renovation = #{renovation,jdbcType=INTEGER},
      </if>
      <if test="supporting != null" >
        supporting = #{supporting,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.midland.web.model.Entrust" >
    update entrust
    set entrust_sn = #{entrustSn,jdbcType=VARCHAR},
      source = #{source,jdbcType=INTEGER},
      house_type = #{houseType,jdbcType=INTEGER},
      sell_rent = #{sellRent,jdbcType=INTEGER},
      entrust_time = #{entrustTime,jdbcType=TIMESTAMP},
      area = #{area,jdbcType=VARCHAR},
      community_name = #{communityName,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      layout = #{layout,jdbcType=VARCHAR},
      measure = #{measure,jdbcType=VARCHAR},
      price = #{price,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=INTEGER},
      user_cn_name = #{userCnName,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      handle_time = #{handleTime,jdbcType=TIMESTAMP},
      call = #{call,jdbcType=VARCHAR},
      renovation = #{renovation,jdbcType=INTEGER},
      supporting = #{supporting,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>