<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.midland.web.dao.FooterMapper" >
  <resultMap id="BaseResultMap" type="com.midland.web.model.Footer" >
    <result column="id" property="id" jdbcType="INTEGER" />
    <result column="isexport" property="isexport" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.midland.web.model.FooterWithBLOBs" extends="BaseResultMap" >
    <result column="registration_protocol" property="registrationProtocol" jdbcType="LONGVARCHAR" />
    <result column="disclaimer" property="disclaimer" jdbcType="LONGVARCHAR" />
    <result column="record_number" property="recordNumber" jdbcType="LONGVARCHAR" />
    <result column="recruitment" property="recruitment" jdbcType="LONGVARCHAR" />
    <result column="about_us" property="aboutUs" jdbcType="LONGVARCHAR" />
    <result column="privacy" property="privacy" jdbcType="LONGVARCHAR" />
    <result column="service_area" property="serviceArea" jdbcType="LONGVARCHAR" />
    <result column="trading_process" property="tradingProcess" jdbcType="LONGVARCHAR" />
    <result column="purpose" property="purpose" jdbcType="LONGVARCHAR" />
    <result column="elite_desc" property="eliteDesc" jdbcType="LONGVARCHAR" />
    <result column="membership" property="membership" jdbcType="LONGVARCHAR" />
    <result column="development" property="development" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Blob_Column_List" >
    registration_protocol, disclaimer, record_number, recruitment, about_us, privacy, 
    service_area, trading_process, purpose, elite_desc, membership, development
  </sql>
  <insert id="insert" parameterType="com.midland.web.model.FooterWithBLOBs" >
    insert into footer (id, isexport, registration_protocol, 
      disclaimer, record_number, recruitment, 
      about_us, privacy, service_area, 
      trading_process, purpose, elite_desc, 
      membership, development)
    values (#{id,jdbcType=INTEGER}, #{isexport,jdbcType=INTEGER}, #{registrationProtocol,jdbcType=LONGVARCHAR}, 
      #{disclaimer,jdbcType=LONGVARCHAR}, #{recordNumber,jdbcType=LONGVARCHAR}, #{recruitment,jdbcType=LONGVARCHAR}, 
      #{aboutUs,jdbcType=LONGVARCHAR}, #{privacy,jdbcType=LONGVARCHAR}, #{serviceArea,jdbcType=LONGVARCHAR}, 
      #{tradingProcess,jdbcType=LONGVARCHAR}, #{purpose,jdbcType=LONGVARCHAR}, #{eliteDesc,jdbcType=LONGVARCHAR}, 
      #{membership,jdbcType=LONGVARCHAR}, #{development,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.midland.web.model.FooterWithBLOBs" >
    insert into footer
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="isexport != null" >
        isexport,
      </if>
      <if test="registrationProtocol != null" >
        registration_protocol,
      </if>
      <if test="disclaimer != null" >
        disclaimer,
      </if>
      <if test="recordNumber != null" >
        record_number,
      </if>
      <if test="recruitment != null" >
        recruitment,
      </if>
      <if test="aboutUs != null" >
        about_us,
      </if>
      <if test="privacy != null" >
        privacy,
      </if>
      <if test="serviceArea != null" >
        service_area,
      </if>
      <if test="tradingProcess != null" >
        trading_process,
      </if>
      <if test="purpose != null" >
        purpose,
      </if>
      <if test="eliteDesc != null" >
        elite_desc,
      </if>
      <if test="membership != null" >
        membership,
      </if>
      <if test="development != null" >
        development,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="isexport != null" >
        #{isexport,jdbcType=INTEGER},
      </if>
      <if test="registrationProtocol != null" >
        #{registrationProtocol,jdbcType=LONGVARCHAR},
      </if>
      <if test="disclaimer != null" >
        #{disclaimer,jdbcType=LONGVARCHAR},
      </if>
      <if test="recordNumber != null" >
        #{recordNumber,jdbcType=LONGVARCHAR},
      </if>
      <if test="recruitment != null" >
        #{recruitment,jdbcType=LONGVARCHAR},
      </if>
      <if test="aboutUs != null" >
        #{aboutUs,jdbcType=LONGVARCHAR},
      </if>
      <if test="privacy != null" >
        #{privacy,jdbcType=LONGVARCHAR},
      </if>
      <if test="serviceArea != null" >
        #{serviceArea,jdbcType=LONGVARCHAR},
      </if>
      <if test="tradingProcess != null" >
        #{tradingProcess,jdbcType=LONGVARCHAR},
      </if>
      <if test="purpose != null" >
        #{purpose,jdbcType=LONGVARCHAR},
      </if>
      <if test="eliteDesc != null" >
        #{eliteDesc,jdbcType=LONGVARCHAR},
      </if>
      <if test="membership != null" >
        #{membership,jdbcType=LONGVARCHAR},
      </if>
      <if test="development != null" >
        #{development,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
</mapper>