<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.midland.web.dao.SpecialPageMapper" >
  <resultMap id="BaseResultMap" type="com.midland.web.model.SpecialPage" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="city_id" property="cityId" jdbcType="INTEGER" />
    <result column="source" property="source" jdbcType="INTEGER" />
    <result column="mode_name" property="modeName" jdbcType="VARCHAR" />
    <result column="position" property="position" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="REAL" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="img_url" property="imgUrl" jdbcType="VARCHAR" />
    <result column="subway_distance" property="subwayDistance" jdbcType="VARCHAR" />
    <result column="link_url" property="linkUrl" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.midland.web.model.SpecialPageWithBLOBs" extends="BaseResultMap" >
    <result column="description" property="description" jdbcType="LONGVARCHAR" />
    <result column="detail" property="detail" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, city_id, source, mode_name, position, title, price, address, img_url, subway_distance, 
    link_url
  </sql>
  <sql id="Blob_Column_List" >
    description, detail
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from special_page
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from special_page
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.midland.web.model.SpecialPageWithBLOBs" >
    insert into special_page (id, city_id, source, 
      mode_name, position, title, 
      price, address, img_url, 
      subway_distance, link_url, description, 
      detail)
    values (#{id,jdbcType=INTEGER}, #{cityId,jdbcType=INTEGER}, #{source,jdbcType=INTEGER}, 
      #{modeName,jdbcType=VARCHAR}, #{position,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, 
      #{price,jdbcType=REAL}, #{address,jdbcType=VARCHAR}, #{imgUrl,jdbcType=VARCHAR}, 
      #{subwayDistance,jdbcType=VARCHAR}, #{linkUrl,jdbcType=VARCHAR}, #{description,jdbcType=LONGVARCHAR}, 
      #{detail,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.midland.web.model.SpecialPageWithBLOBs" >
    insert into special_page
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="cityId != null" >
        city_id,
      </if>
      <if test="source != null" >
        source,
      </if>
      <if test="modeName != null" >
        mode_name,
      </if>
      <if test="position != null" >
        position,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="imgUrl != null" >
        img_url,
      </if>
      <if test="subwayDistance != null" >
        subway_distance,
      </if>
      <if test="linkUrl != null" >
        link_url,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="detail != null" >
        detail,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="cityId != null" >
        #{cityId,jdbcType=INTEGER},
      </if>
      <if test="source != null" >
        #{source,jdbcType=INTEGER},
      </if>
      <if test="modeName != null" >
        #{modeName,jdbcType=VARCHAR},
      </if>
      <if test="position != null" >
        #{position,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=REAL},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="imgUrl != null" >
        #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="subwayDistance != null" >
        #{subwayDistance,jdbcType=VARCHAR},
      </if>
      <if test="linkUrl != null" >
        #{linkUrl,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=LONGVARCHAR},
      </if>
      <if test="detail != null" >
        #{detail,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.midland.web.model.SpecialPageWithBLOBs" >
    update special_page
    <set >
      <if test="cityId != null" >
        city_id = #{cityId,jdbcType=INTEGER},
      </if>
      <if test="source != null" >
        source = #{source,jdbcType=INTEGER},
      </if>
      <if test="modeName != null" >
        mode_name = #{modeName,jdbcType=VARCHAR},
      </if>
      <if test="position != null" >
        position = #{position,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=REAL},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="imgUrl != null" >
        img_url = #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="subwayDistance != null" >
        subway_distance = #{subwayDistance,jdbcType=VARCHAR},
      </if>
      <if test="linkUrl != null" >
        link_url = #{linkUrl,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=LONGVARCHAR},
      </if>
      <if test="detail != null" >
        detail = #{detail,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.midland.web.model.SpecialPageWithBLOBs" >
    update special_page
    set city_id = #{cityId,jdbcType=INTEGER},
      source = #{source,jdbcType=INTEGER},
      mode_name = #{modeName,jdbcType=VARCHAR},
      position = #{position,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR},
      price = #{price,jdbcType=REAL},
      address = #{address,jdbcType=VARCHAR},
      img_url = #{imgUrl,jdbcType=VARCHAR},
      subway_distance = #{subwayDistance,jdbcType=VARCHAR},
      link_url = #{linkUrl,jdbcType=VARCHAR},
      description = #{description,jdbcType=LONGVARCHAR},
      detail = #{detail,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.midland.web.model.SpecialPage" >
    update special_page
    set city_id = #{cityId,jdbcType=INTEGER},
      source = #{source,jdbcType=INTEGER},
      mode_name = #{modeName,jdbcType=VARCHAR},
      position = #{position,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR},
      price = #{price,jdbcType=REAL},
      address = #{address,jdbcType=VARCHAR},
      img_url = #{imgUrl,jdbcType=VARCHAR},
      subway_distance = #{subwayDistance,jdbcType=VARCHAR},
      link_url = #{linkUrl,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>