<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huixin.web.dao.DataBackupMapper" >
  <resultMap id="BaseResultMap" type="com.huixin.web.model.DataBackup" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="path" property="path" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="restore_time" property="restoreTime" jdbcType="TIMESTAMP" />
    <result column="userName" property="userName" jdbcType="VARCHAR" />
     <result column="beginTime" property="beginTime" jdbcType="VARCHAR" />
      <result column="endTime" property="endTime" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    id, path, create_time, user_id, restore_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from data_backup
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <!-- 根据条件分页查询数据库备份表数据 -->
  <select id="findByDataBackupAndPage" parameterType="com.huixin.web.model.DataBackup" resultType="Map">
  	select d.id,d.path,d.create_time createTime,d.user_id,d.restore_time restoreTime,u.username userName
  	from data_backup d left join user u on u.id = d.user_id
    <where>
    	<if test="userName != null and userName != ''">
    		and u.userName like %#{userName}%
    	</if>
    	<if test="beginTime != null and beginTime != ''">
    		and d.create_time &gt;= #{beginTime}
    	</if>
    	<if test="endTime != null and endTime != ''">
    		and d.create_time &lt;= #{endTime}
    	</if>
    </where>
  </select>
  
  <insert id="insert" parameterType="com.huixin.web.model.DataBackup" >
    insert into data_backup (id, path, create_time, 
      user_id, restore_time)
    values (#{id,jdbcType=INTEGER}, #{path,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{userId,jdbcType=INTEGER}, #{restoreTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.huixin.web.model.DataBackup" >
    insert into data_backup
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="path != null" >
        path,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="restoreTime != null" >
        restore_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="path != null" >
        #{path,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="restoreTime != null" >
        #{restoreTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from data_backup
        where id = #{id}
    </delete>
</mapper>